{%extends 'navbar.html'%}
{%block nav%}
{% if product %}
{%if messages%}
{%for i in messages%}
{% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{i}}</strong>
     </div>
{%endif%}
{% if i.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{i}}</strong>
    </div>
{%endif%}
{%endfor%}
{%endif%}

<h3>Cart list</h3>

<table class="table table-bordered ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Image</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Date and Time</th>
        </tr>
    </thead>
    <tbody>
        
        {% for i in product %}
        <tr>
        <td>{{i.id}}</td>
        <td>{{i.products.title}}</td>
        <td>
            <img src="{{i.products.image.url}}" alt="" style="height: 150px;">
        </td>
        <td>{{i.products.price}}</td>
        <td>
            <a href="{% url 'decrsqnty' i.id%}" class="btn">-</a>
            <span class="p-1 boreder">
                {{i.quality}}
            </span>
                <a href="{% url 'incquantity' i.id%}" class="btn">+</a>
        </td>
        <td>{{i.datetime}}</td>
        <td>
            <a href="{% url 'placeorder' i.id%}" class="btn btn-outline-info">placeorder</a>
            <a href="{%url 'deleteitem' i.id%}" class="btn"><i class="fa-solid fa-trash fa-xl" style="color: #4237b4;"></i></a>
        </td>
    </tr>
    {% endfor %}
{%else%}
    <h3 class="text center text-warning my-4">No cartitems </h3>
{%endif%}

</tbody>


</table>





{%endblock nav%}