{% extends 'navbar.html'%}
{% block nav%}
<div class="d-flex justify-content-between mb-4">
  <h2>Products</h2>
  <form action="{%url 'search'%}" method="post" class="d-flex">
    {%csrf_token%}
    <input type="search" placeholder="search with name" name="searchkey" class="form-control">
    <button class="btn btn-success">search</button>
  </form>
</div>
<h2>products</h2>
<div class="d-flex justify-content-evenly flex-wrap">
    {% for i in products%}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top justify-content-center align-items-center" height="60%"  src="{{i.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{i.title}}</h5>
          <p class="card-text text-center">Rs.{{i.price}}</p>
          <a href="{%url 'pdetails' i.id%}" class="stretched-link"></a>
        </div>
    </div>
    {%endfor%}
</div>
  

{%endblock nav%}